<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <mimeMap fileExtension=".php" mimeType="text/html" />
        </staticContent>
        <httpProtocol>
            <customHeaders>
                <add name="PHP-Powered" value="php" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
