@import url('w3-animation.css');

/* Todo: 16px - 1rem || 18px - 1.125rem || 20px - 1.25rem || 24px - 1.5rem || 30px - 1.875rem || 32px - 2rem || 36px - 2.25rem */

*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
   padding: 0;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
   --header-font: 'Montserrat', Arial, Helvetica, sans-serif;
   --body-font: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   --default-logo-width: 130px;
   --default-logo-height: 52px;
   --color-one: #386641;
   --color-two: #FFE6A7;
   --color-three: #B6A977;
   --color-four: #6A994E;
   --color-five: #432818;
}

html {
   scroll-behavior: smooth;
   font-size: 16px;
}

img.logo__greenarchive-logo--modified {
   width: var(--default-logo-width);
   height: var(--default-logo-height);
}

header.navbar {
   /* ! 92vh left */
   height: 8vh;
   padding: 0px 10px 0px 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   background-color: #ddd1a4;
}

/* ? Section Login and Register Button */
section.login {
   display: flex;
   flex-direction: row;
   gap: 15px;
}

a.login__button-n-register {
   padding: 7px 13px;
   font-size: 16px;
   text-decoration: none;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
}

a.login__button-n-register.login-btn {
   background-color: #386641;
   color: #ffffff;
   border: 2px solid #B6A977;
}

a.login__button-n-register.register-btn {
   background-color: #6A994E;
   color: #ffffff;
   border: 2px solid #B6A977;
}

a.login__button-n-register:hover {
   background-color: #dacd99;
   color: #386641;
}

/* ? Greetings Whole Content */
section.greetings-whole-content {
   padding: 0px 10px 0px 10px;
   height: 92vh;
   display: flex;
   flex-direction: row;
   align-items: center;

}

/* ! Potted Plants Image */
img.section-image__potted-plants--modified {
   width: 600px;
   height: 600px;
}

section.greetings__details {
   display: flex;
   flex-direction: column;
}

h1.greetings__welcome-text {
   font-size: 2.0rem;
}

h1.greetings__greenarchive-text {
   margin-top: -20px;
   font-size: 5rem;
}

p.greetings__slogan-text {
   margin-top: -10px;
   font-size: 1.1rem;
}

p.description__text {
   margin-top: 10px;
   font-size: 1.4rem;
   text-align: justify;
   text-indent: 2rem;
}

div.description__scroll-content {
   padding: 0px 0px;
   display: flex;
   justify-content: flex-end;
}

a.description__scroll-button {
   margin: 20px 10px 0px 0px;
   padding: 15px 20px 15px 20px;
   text-decoration: none;
   font-size: 1rem;
   color: #ffffff;
   background-color: #386641;
   border: 2px solid #B6A977;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s, color 0.3s;
}

a.description__scroll-button:hover {
   background-color: #6A994E;
   color: #432818;
}

/* ? Section Explore */
section.explore-whole-content {
   padding: 0px 10px 0px 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   background-color: #ede3ca;
   height: 100vh;
}

section.explore_image--modified {
   display: flex;
   flex-direction: column;
   align-items: center;
}

img.explore__ask-image--layout {
   width: 500px;
   height: 500px;
}

h1.explore__ask-text--layout {
   font-size: 3rem;
}

/* ? Section Explore Define */
h1.explore-define__header--text {
   font-size: 2.7rem;
}

p.explore-define__details--text {
   font-size: 1.7rem;
   text-align: justify;
}

div.explore-define__button {
   display: flex;
   justify-content: flex-end;
}